body {
  font-family: 'Sintony', sans-serif;
}

h1 {
  font-family: 'Karla', sans-serif;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}