<!-- Clients Section -->
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Some of our clients</h2>
                <h3 class="section-subheading text-muted">The energy, financial and medical diagnosis markets are some of the ones we're experienced in.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center">
                <a href="#">
                    <a title="General Electric Company / Public domain" href="https://commons.wikimedia.org/wiki/File:General_Electric_logo.svg"><img width="64" alt="General Electric logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/General_Electric_logo.svg/128px-General_Electric_logo.svg.png"></a>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 text-center">
                <a href="#">
                    <a title="Schneider Electric / Public domain" href="https://commons.wikimedia.org/wiki/File:Schneider_Electric_2007.svg"><img width="128" alt="Schneider Electric 2007" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Schneider_Electric_2007.svg/128px-Schneider_Electric_2007.svg.png"></a>
                </a>
            </div>
        </div>
    </div>
</section>