<!-- Technologies Section -->
<section id="technologies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Technologies</h2>
                <h3 class="section-subheading text-muted">These are some of the technologies we work with most frequently. Can't find what you need? <a href="#contact" class="page-scroll">Contact us</a> for more.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <h4 class="service-heading">Web</h4>
                <p class="text-muted">ASP.NET Core / MVC</p>
                <p class="text-muted">Web API</p>
                <p class="text-muted">ServiceStack</p>
                <p class="text-muted">SignalR</p>
                <p class="text-muted">Angular</p>
            </div>
            <div class="col-md-3">
                <h4 class="service-heading">Desktop</h4>
                <p class="text-muted">WinForms</p>
                <p class="text-muted">WPF</p>
                <p class="text-muted">DevExpress</p>
            </div>
            <div class="col-md-3">
                <h4 class="service-heading">Databases</h4>
                <p class="text-muted">SQL Server</p>
                <p class="text-muted">Oracle</p>
                <p class="text-muted">PostgreSql</p>
                <p class="text-muted">Entity Framework</p>
                <p class="text-muted">Dapper</p>
            </div>
            <div class="col-md-3">
                <h4 class="service-heading">Cloud</h4>
                <p class="text-muted">Azure</p>
                <p class="text-muted">Docker</p>
                <p class="text-muted">Hetzner</p>
            </div>
        </div>
    </div>
</section>